.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    height: 300px;
    padding: 0.5rem;
    box-shadow: 0 0 4px 1px rgba(139, 139, 139, 0.295);
    border-radius: 0.5rem;
}
.containerBasket{
    display: flex;
    justify-self: end;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    height: 300px;
    padding: 0.5rem;
    box-shadow: 0 0 4px 1px rgba(139, 139, 139, 0.295);
    border-radius: 0.5rem;
}
.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 68, 0, 0.808);
    color: white;
}
.btn:hover{
    cursor: pointer;
}
.body{
    color: rgba(255, 68, 0, 0.808);
}
.container>.img{
    width: 100%;
    height: 150px;
    background-color: rgba(139, 139, 139, 0.11);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}
.container .img>img{
    max-width: 150px;
    height: 130px;
    object-fit: contain;
}
.btn>img{
    width: 20px;
}
.name{
    text-align: center;
}
.addbtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.addbtn>div{
    display: flex;
    justify-content: space-between;
}
.addbtn>div:first-child{
    padding: 0.2rem;
    border: none;
    border-radius: 7px;
    background-color: orange;
    width: 100%;
}
.addbtn>div>button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 1.7rem;
}
.addbtn>div:first-child a{
    text-decoration: none;
}
.btns{
    display: flex;
    width: 40%;
    align-items: center;
    gap: 0.5rem;
}
.btns>button{
    padding: 0.5rem;
    border: none;
    border-radius: 7px;
}
.btns>button:hover{
    cursor: pointer;
}
/* basket */